@model List<Category> 
@{
    ViewData["Title"] = "Home Page";
}
<a  asp-action="Create" class="btn btn-primary btn -sm">Kategori Ekle</a>
<table class=" table table-bordered table-sm">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }

</table>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
